body {
  font-size: 22px;
  margin: 241px;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.crab {
  font-size: 50px;
}
